# A * ensures that everything will be ignored.
*

# Files whitelist, these will not be ignored.
!**.yaml
!.gitignore
!*.md
!.travis.yml
!.HA_VERSION
!manifest.json
!**.py

# Folders whitelist, these will not be ignored
!extras
!automation
!script
!cover
!light
!sensor
!binary_sensor
!custom_components
!attributes

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

